/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
* Myer Reset
*/
html,body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

body {
    background: linear-gradient(141deg, black 0%, #a80077 51%, #f16f5c 75%);
    background-size: cover;
}
nav,
h1,
h3,
p {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 18px;
}

h1 {
    font-size: 32px;
}

.homePage-intro {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
    align-content: center;
    position: relative;
}

#rondedCorners {
    border-radius: 5px;
    background: lightgray;
    padding: 10px;
    height:100%;
    
}

.homePage-content {
    margin-top: 2%;
    height: 80%;
    width: 100%;
}

.card-deck{
 width:100%;
 height: 60%;   
}

.card-space{
    width: 2%;
    height:100%;
}
.card-space2{
    width: %
}
.card {
    height: 50%;
}

.card-block {
    background: #aebcbf;
}

.card-text {
    background: #aebcbf;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-div {
    margin-top: 2%;
    margin-left: 2%;
    justify-content: flex-end;
    border-radius: 15px;
    background: lightgray;
    padding: 20px;
    width: 50%;
    height 10%;
}

.intro-space{
    width: 2%;
}

.intro-p {
    color: black;
    font-size: 24px;
    font-family: 'Vollkorn', Georgia, Times, serif;
}

.mainContent {
    display: flex;
    margin-top: 2%;
    height: 60%;
    border-radius: 5px;
    padding: 10px;
}
.starDestroyer-space{
    width:2%;
}

.aside {
    height: 100%;
    width: 30%;
    border-radius: 5px;
    background: lightgray;
    padding: 10px;
    position: relative;
}

.main-space {
    height: 100%;
    width: 3%
}

.main-text {
    background: lightgray;
    position: flex-end;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
}

.text-background{
    background: azure;
    position: flex-end;
    width: 100%;
    height: 95%;
    padding: 10px;
    border-radius: 5px;
}
.moreSpace{
	height: 500px;
}
